<button *ngIf="isComputerGame"  (click)=isComputer()>Play against Human</button>
<button *ngIf="!isComputerGame" (click)=isComputer()>Play against Computer</button>


<h1>This is {{whatGame}}</h1>
<div class="rows">



    <button  (click)=startGame()>New Game</button>

    <div class="cell" *ngFor="let cell of origBoard; let i = index" (click)="turnClick(i)">
       <app-cell  [value]="cell" > </app-cell>
    </div>

    <h2 class="endgame" *ngIf="endGame">
        {{ winner }}
    </h2>
</div>